<div id="content" class="search-view">
    <div class="reserva-creator">
        <div class="reserva-creator__title">
            <h1>
                <img src="assets/img/pollo.svg">
                Poller&iacute;a Pardos Chicken
            </h1>
        </div>
        <div class="reserva-creator">
            <!-- widget content -->
            <div class="widget-body">
                <div id="order-form" class="smart-form">
                    <fieldset>
                        <div class="row">
                            <section class="col col-2">
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="dni" placeholder="DNI"/>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="nombres" placeholder="Nombres"/>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="apellido" placeholder="Apellido"/>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                    <input type="email" name="correo" placeholder="Correo"/>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-2">
                                <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                    <input type="text" name="fecha" placeholder="Fecha"/>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="input"> <i class="icon-append fa fa-chevron-down"></i>
                                    <input type="text" name="local" placeholder="Local"/>
                                </label>
                            </section>
                            <section class="col col-2">
                                <label class="input"> <i class="icon-append fa fa-clock-o"></i>
                                    <input type="text" name="hora" placeholder="Hora"/>
                                </label>
                            </section>

                            <section class="col col-2">
                                <label class="input"> <i class="icon-append fa fa-phone"></i>
                                    <input type="tel" name="phone" placeholder="Phone" saMaskedInput="(999) 999-9999" >
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-2">
                                <label class="input"> <i class="icon-append fa fa-money"></i>
                                    <input type="text" name="cantidad" placeholder="Cantidad"/>
                                </label>
                            </section>
                            <section class="col col-3">
                                <label class="input"> <i class="icon-append fa fa-money"></i>
                                    <input type="text" name="adelanto" placeholder="Monto de Adelanto 24hrs"/>
                                </label>
                            </section>
                        </div>

                        <div class="row">
                            <section class="col col-12">
                                <label>Comentario</label>
                                <label class="input">
                                <textarea rows="4" cols="100">
                                </textarea>
                                </label>
                            </section>
                        </div>
                        <div class="row">
                            <section class="col col-2">
                                <label class="label-dummy">&nbsp;</label>
                                <button type="submit" class="btn btn-lg btn-primary">
                                    Agregar
                                </button>
                            </section>
                            <section class="col col-2">
                                <label class="label-dummy">&nbsp;</label>
                                <button type="submit" class="btn btn-lg btn-primary">
                                    Cancelar
                                </button>
                            </section>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>