<div id="content" class="search-view">
    <div class="reserva-creator">
        <div class="reserva-creator__title">
            <h1>
                <img src="assets/img/pollo.svg">
                Poller&iacute;a Pardos Chiken
            </h1>
        </div>
        <div class="reserva-creator">
            <!-- widget content -->
            <div class="widget-body">
                <div id="order-form" class="smart-form">
                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-user"></i>
                                <input type="text" name="name" placeholder="Name"/>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-briefcase"></i>
                                <input type="text" name="company" placeholder="Company"/>
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-envelope-o"></i>
                                <input type="email" name="email" placeholder="E-mail"/>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-phone"></i>
                                <input type="tel" name="phone" placeholder="Phone" saMaskedInput="(999) 999-9999" >
                            </label>
                        </section>
                    </div><!--
                    <div class="row">
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="startdate" id="startdate" [saUiDatepicker]="{minRestrict:'#finishdate'}" placeholder="Expected start date"/>
                            </label>
                        </section>
                        <section class="col col-6">
                            <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                <input type="text" name="finishdate" id="finishdate" [saUiDatepicker]="{maxRestrict:'#startdate'}" placeholder="Expected finish date"/>
                            </label>
                        </section>
                    </div>-->
                </fieldset>

            </div>
            <!-- end widget content -->

        </div>
    </div>
</div>